<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<p>Hello <%= @first_name %>,</p>

<p>
  Thank you for your carpool request to <%= @ride.business_name %>. We emailed the person offering/requesting ride.
  As soon as they accept the request you both will be able to communicate and arrange further details.
</p>

<p>
  We hope the other party accepts the connection soon!
</p>

<p class="mt30">
  Thank you, <br>
  CommuteUp Team
</p>

<p>P.S If you have any questions email us at support@commuteup.com</p>

</body>
</html>