<div id="available_rides" class="center">
  <h1>Available Rides</h1>

  <div id="rides">
    <table class="table table-striped table-condensed">
      <thead>
      <tr>
        <td class="bold">Origin</td>
        <td class="bold">Destination</td>
        <td class="bold">Company or Business</td>
        <td class="bold">Type</td>
        <td class="bold">Seat Available</td>
      </tr>
      </thead>
      <tbody>
      <%= render partial: "ride", collection: @rides %>
      </tbody>

    </table>
  </div>
</div>
